@import "../node_modules/@patternfly/patternfly/sass-utilities/all.scss";

$pf-v5-global--font-path: "../node_modules/@patternfly/patternfly/assets/fonts";
$fa-font-path: "../node_modules/@patternfly/patternfly/assets/fonts/webfonts";
$pf-v5-global--fonticon-path: "../node_modules/@patternfly/patternfly/assets/pficon";
$pf-v5-global--image-path: "data-url:../node_modules/@patternfly/patternfly/assets/images";

@import "../node_modules/@patternfly/patternfly/patternfly.scss";
@import "../node_modules/@patternfly/patternfly/patternfly-addons.scss";

body,
#root,
.pf-v5-x-chart {
  height: 100%;
}

.pf-v5-c-toolbar__content {
  overflow-x: auto;
}

.pf-v5-c-toolbar__content-section {
  flex-wrap: nowrap;
}

.pf-v5-x-text--helper {
  justify-content: center;
}

.pf-v5-c-toolbar {
  background: transparent;
}

:root {
  --pf-v5-chart-axis--tick-label--Fill: var(--pf-v5-global--Color--200);
  --pf-v5-chart-container--cursor--line--Fill: var(--pf-v5-global--Color--100);
}
