@import "~@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "~@patternfly/patternfly/assets/fonts";
$fa-font-path: "~@patternfly/patternfly/assets/fonts/webfonts";
$pf-global--fonticon-path: "~@patternfly/patternfly/assets/pficon";
$pf-global--image-path: "~@patternfly/patternfly/assets/images";

@import "~@patternfly/patternfly/patternfly.scss";
@import "~@patternfly/patternfly/patternfly-addons.scss";

body,
#root,
.pf-x-chart {
  height: 100%;
  background: var(--pf-c-page__main-section--m-light--BackgroundColor);
}

.pf-c-toolbar__content {
  overflow-x: auto;
}

.pf-c-toolbar__content-section {
  flex-wrap: nowrap;
}
